---
import AddSlotsDialog from '@components/dialogs/addSlotsDialog.astro';
import ViewSlotDialog from '@components/dialogs/viewSlotDialog.astro';
import Layout from '@layout';
import { getSlotsPaginated } from '@lib/services/slots';
import { Icon } from 'astro-icon/components';

enum Status {
  ACTIVE = 'Activo',
  INACTIVE = 'Inactivo',
}
const { locals, params } = Astro;
const { data } = await getSlotsPaginated(locals.supabase)(parseInt(params.page || '1'), 10);

const getStatus = (medal_id: string): Status => {
  return medal_id ? Status.ACTIVE : Status.INACTIVE;
};

const getDate = (date: string): string => {
  return Intl.DateTimeFormat(undefined, { dateStyle: 'short', timeStyle: 'short' }).format(
    new Date(date),
  );
};
---

<Layout>
  <article class="card">
    <div class="card-content flex justify-end">
      <AddSlotsDialog />
    </div>
  </article>

  <article class="card">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Fecha creacion</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        {
          data.map((slot) => (
            <tr>
              <td>{slot.id}</td>
              <td>{getDate(slot.created_at)}</td>
              <td>
                {slot.medal_id ? (
                  <span class="badge border-emerald-300 bg-emerald-100 text-emerald-700">
                    <Icon name="lucide:user-check" />
                    EN USO
                  </span>
                ) : (
                  <span class="badge border-blue-300 bg-blue-100 text-blue-700">
                    <Icon name="lucide:sparkles" />
                    NUEVO
                  </span>
                )}
              </td>
              <td>
                <div class="flex items-center justify-end gap-2">
                  <ViewSlotDialog medalSlot={slot} />

                  <a
                    href={`/api/admin/slot/${slot.id}/qr`}
                    class="btn btn-sm"
                    download={`${slot.id}.png`}
                  >
                    <Icon name="lucide:download" class="size-4" />
                  </a>
                </div>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </article>
</Layout>
