---
import QRCode from 'qrcode';
import Layout from '@layout';
import { AddSlotsDialog, ViewSlotDialog } from '@components/dialogs';
import { getSlotsPaginated } from '@lib/services/slots';
import { Icon } from 'astro-icon/components';

enum Status {
  ACTIVE = 'Activo',
  INACTIVE = 'Inactivo',
}
const { locals, params } = Astro;
const { data } = await getSlotsPaginated(locals.supabase)(parseInt(params.page || '1'), 10);

const getStatus = (medal_id: string): Status => {
  return medal_id ? Status.ACTIVE : Status.INACTIVE;
};

const getDate = (date: string): string => {
  return Intl.DateTimeFormat(undefined, { dateStyle: 'short', timeStyle: 'short' }).format(
    new Date(date),
  );
};

const getSlotQR = async (id: string) => {
  const QR = await QRCode.toDataURL(new URL(`/medal/${id}`, Astro.url.origin).toString(), {
    margin: 1,
  });

  return QR;
};
---

<Layout>
  <article class="card">
    <div class="card-content flex justify-end">
      <AddSlotsDialog />
    </div>
  </article>

  <article class="card overflow-x-auto">
    <table class="table-auto">
      <thead>
        <tr>
          <th>ID</th>
          <th>Fecha creacion</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        {
          data.map(async (slot) => {
            const QRbase64 = await getSlotQR(slot.id);
            return (
              <tr>
                <td class="truncate">{slot.id}</td>
                <td>{getDate(slot.created_at)}</td>
                <td>
                  {slot.medal_id ? (
                    <span class="badge border-emerald-300 bg-emerald-100 text-emerald-700">
                      <Icon name="lucide:user-check" />
                      EN USO
                    </span>
                  ) : (
                    <span class="badge border-blue-300 bg-blue-100 text-blue-700">
                      <Icon name="lucide:sparkles" />
                      NUEVO
                    </span>
                  )}
                </td>
                <td>
                  <div class="flex items-center justify-end gap-2">
                    <ViewSlotDialog medalSlot={slot} QRbase64={QRbase64} />

                    <a href={QRbase64} class="btn btn-sm" download={`${slot.id}.png`}>
                      <Icon name="lucide:download" class="size-4" />
                    </a>
                  </div>
                </td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  </article>
</Layout>
