---
import Layout from "@/layouts/Layout.astro";
import { supabase } from "@/supabase";
import { MedalFormEdit } from "@/components/forms/edit/Form";
import { token_validate } from "@/repositories";

const { id: medal_id } = Astro.params as { id: string };
const token_code = Astro.url.searchParams.get("token");
if (!token_code) return Astro.redirect(`/medal/${medal_id}`);
const isTokenValid = await token_validate({ medal_id, code: token_code });
if (!isTokenValid) return Astro.redirect(`/medal/${medal_id}`);

const { data: medal } = await supabase
  .from("medals")
  .select('id, pet:pets(*), owner:owners(*)')
  .eq("id", medal_id)
  .single();

if(!medal) return Astro.redirect("/404");
if(!medal.pet || !medal.owner) return Astro.redirect(`medal/${medal_id}/create`);
---

<Layout class="max-w-2xl space-y-6" container>
  <hgroup class="space-y-2">
    <h1 class="text-3xl font-bold text-foreground">Editar Información de <span class="text-primary">{medal.pet.name}</span></h1>
    <p class="text-muted-foreground">Actualiza los datos de tu mascota para mantener su perfil al día.</p>
  </hgroup>

  <MedalFormEdit
    medal_id={medal.id}
    token_code={token_code}
    pet={medal.pet}
    owner={medal.owner}
    client:only="react"
  />
</Layout>
