---
import Layout from '@layout';
import { Icon } from 'astro-icon/components';
import { db, eq, Pet as Table } from 'astro:db';
import { PetSchema as Schema, type Pet } from '@types';
import { Button } from '@components/ui';
import { BasicForm, ContactForm, EmergencyForm } from '@components/forms';

if (!Astro.params.id) return Astro.redirect('/404');
if (Astro.request.method === 'POST') {
  try {
    const formData = await Astro.request.formData();
    const data = Schema.parse(Object.fromEntries(formData.entries()));
    await db.update(Table).set(data).where(eq(Table.id, Astro.params.id)).run();
    return Astro.redirect(`/medal/${Astro.params.id}`);
  } catch (error) {
    console.error(error);
  }
}

const pet = (await db.select().from(Table).where(eq(Table.id, Astro.params.id)).get()) as Pet;
if (!pet) return Astro.redirect('/404');
const isNew = !pet.name;

// // if hash doesn't exists
// if (Astro.url.searchParams.get('hash') !== 'testing')
//   return Astro.rewrite(`/medal/${Astro.params.id}`);
// // if(pet.hash !== Astro.url.searchParams.get('hash')) return Astro.rewrite(`/medal/${Astro.params.id}`);
---

<Layout>
  <hgroup class="mb-6 flex flex-col gap-2">
    <h1 class="text-3xl font-bold">
      {
        !isNew ? (
          <>
            Editar información de <span class="text-primary">{pet.name}</span>
          </>
        ) : (
          <>Crear información de tu mascota</>
        )
      }
    </h1>
    <p class="text-on-muted">Actualiza los datos de tu mascota para mantener su perfil al día.</p>
  </hgroup>

  <form method="POST" class="flex flex-col gap-6">
    <!-- <AvatarForm pet={pet} /> -->
    <BasicForm pet={pet} />
    <EmergencyForm pet={pet} />
    <ContactForm pet={pet} />

    <div class="flex gap-4">
      <Button size="lg" type="submit" class="flex-1">
        <Icon name="lucide:save" />
        {!isNew ? 'Guardar' : 'Crear'}
      </Button>

      {
        !isNew && (
          <a href={`/medal/${pet.id}`} class="flex flex-1">
            <Button variant="outline" size="lg" class="flex-1" type="button">
              Cancelar
            </Button>
          </a>
        )
      }
    </div>
  </form>
</Layout>
