---

import { Button, Icon, Form } from "@components";
import Layout from "@layout";
import { validateHasToken } from "@repositories";

const token_code = Astro.url.searchParams.get("token");
const { medal, pet, owner, avatar_url } = Astro.locals;
if(!pet) return Astro.redirect(`/medal/${medal.id}/create`);

if (!import.meta.env.DISABLE_TOKEN) {
  if (!token_code) return Astro.redirect(`/medal/${medal.id}`);
  const hasToken = await validateHasToken(medal.id, token_code);
  if (!hasToken) return Astro.redirect(`/medal/${medal.id}`);
}
---

<Layout class="max-w-2xl" title={`Kodal - Editar medalla de ${pet.name}`}>
  <hgroup class="mb-6 flex flex-col gap-2">
    <h1 class="text-3xl font-bold">Editar información de <span class="text-primary">{pet.name}</span></h1>
    <p class="text-muted-foreground">Actualiza los datos de tu mascota para mantener su perfil al día.</p>
  </hgroup>

  <Form
    method="PUT"
    client:only="react"
    medal_id={medal.id}
    owner={owner}
    pet={pet}
    token_code={token_code}
    avatar_url={avatar_url}
  />
</Layout>
