---
import Layout from '@layout';
import { BasicCard, ContactCard, PromoCard } from '@components/cards';
import { eq, db, Medal, Slot } from 'astro:db';
import { Button, Header } from '@components/ui';
if (!Astro.params.id) return Astro.redirect('/404');

const medal = await db.select().from(Medal).where(eq(Medal.id, Astro.params.id)).get();
if (!medal) {
  const slot = await db.select().from(Slot).where(eq(Slot.id, Astro.params.id)).get();
  if (slot) return Astro.redirect(`/medal/${slot.id}/edit`);
  return Astro.rewrite('/404');
}
---

<Layout container>
  <Header slot="header">
    <section slot="actions">
      <Button id="generateToken" data-id={Astro.params.id}>Token</Button>
      <Button id="generateQR" data-id={Astro.params.id}>QR</Button>
    </section>
  </Header>
  <BasicCard medal={medal} />
  <PromoCard />
</Layout>

<script type="module">
  document.querySelector('#generateToken').addEventListener('click', () => {
    const id = document.querySelector('#generateToken').dataset.id;
    fetch(`/medal/${id}/token`, {
      method: 'POST',
    })
      .then((response) => response.json())
      .then((data) => {
        console.log('Success:', data);
        console.log(`http://localhost:4321/medal/${id}/edit?token=${data.token}`);
      })
      .catch((error) => {
        console.error('Error:', error);
        console.log('Error generating token');
      });
  });

  document.querySelector('#generateQR').addEventListener('click', () => {
    const id = document.querySelector('#generateQR').dataset.id;
    fetch(`/medal/${id}/qr`, {
      method: 'POST',
    })
      .then((response) => response.json())
      .then((data) => {
        console.log('Success:', data);
        console.log(`http://localhost:4321/medal/${id}/edit?token=${data.token}`);
      })
      .catch((error) => {
        console.error('Error:', error);
        console.log('Error generating QR');
      });
  });
</script>
