---
import { Avatar, Card } from '@components/ui';
import type { Database } from '@lib/database';
import { getTimeSince } from '@utils';
interface Props {
  pet: Database['public']['Tables']['pets']['Row'];
}
const { pet } = Astro.props;
const phone_message = `Hola, he encontrado a tu mascota ${pet.name}. Por favor, contáctame.`;
const info = [
  {
    label: 'Raza',
    value: pet.breed,
    display: pet.breed,
  },
  {
    label: 'Edad',
    value: pet.birth_date,
    display: pet.birth_date && getTimeSince(new Date(pet.birth_date)),
  },
].filter(({ value }) => value);
---

<Card>
  <header class="from-primary/10 to-secondary/10 bg-linear-to-br p-8 text-center">
    <Avatar alt={pet.name} class="mx-auto mb-6 size-32" />
    <h1 class="mb-2 break-all">{pet.name}</h1>
  </header>

  <article class="p-6">
    <dl
      class:list={[
        'grid grid-cols-1 gap-4',
        info.length === 2 && 'md:grid-cols-2',
        info.length > 2 && 'md:grid-cols-3',
      ]}
    >
      {
        info.map(({ label, display }) => (
          <div class="bg-muted/50 flex flex-col items-center justify-center rounded-lg p-4 text-center">
            <dt class="text-primary text-2xl font-bold text-balance break-all">{display}</dt>
            <dd class="text-on-muted text-sm">{label}</dd>
          </div>
        ))
      }
    </dl>
  </article>
</Card>

<!-- {`https://wa.me/${medal.owner_phone}?text=${encodeURIComponent(phone_message)}`} -->
