---
import type { Enums } from '@types';
import { Icon } from '@components';

interface Props {
  gender: Enums<'PET_GENDER'>;
  species: Enums<'PET_SPECIES'>;
}

const { gender, species } = Astro.props;
const CLASSES: Record<Enums<'PET_GENDER'>, string> = {
  FEMALE: 'from-pink-400/20 via-rose-400/10 to-fuchsia-400/20 text-pink-400/40',
  MALE: 'from-sky-500/20 via-blue-500/10 to-indigo-500/20 text-sky-500/40',
  UNKNOWN: 'from-primary/10 via-secondary/10 to-secondary/10 text-primary/40',
};

const ICONS: Record<Enums<'PET_SPECIES'>, { primary: string; secondary: string }> = {
  DOG: { primary: 'lucide:paw-print', secondary: 'lucide:bone' },
  CAT: { primary: 'lucide:paw-print', secondary: 'lucide:fish' },
  OTHER: { primary: 'lucide:star', secondary: 'lucide:paw-print' },
};
---

<div class:list={['via- absolute inset-0 top-0 -z-50 size-full bg-linear-to-br', CLASSES[gender]]}>
  <Icon name={ICONS[species].primary} class="absolute -top-1 left-[5%] h-10 w-10 rotate-[-20deg]" />
  <Icon name={ICONS[species].secondary} class="absolute top-3 left-[25%] h-8 w-12 rotate-15" />
  <Icon name={ICONS[species].primary} class="absolute top-1 left-[50%] h-8 w-8 rotate-10" />
  <Icon name={ICONS[species].secondary} class="absolute -top-2 left-[75%] h-7 w-10 rotate-[-10deg]" />
  <Icon name={ICONS[species].primary} class="absolute top-4 left-[92%] h-9 w-9 rotate-25" />

  <Icon name={ICONS[species].secondary} class="absolute top-[30%] left-[0%] h-7 w-11 rotate-20" />
  <Icon name={ICONS[species].primary} class="absolute top-[25%] left-[18%] h-9 w-9 rotate-[-15deg]" />
  <Icon name={ICONS[species].secondary} class="absolute top-[35%] left-[38%] h-9 w-13 rotate-[5deg]" />
  <Icon name={ICONS[species].primary} class="absolute top-[28%] left-[60%] h-7 w-7 rotate-30" />
  <Icon name={ICONS[species].secondary} class="absolute top-[32%] left-[82%] h-7 w-10 rotate-[-25deg]" />

  <Icon name={ICONS[species].primary} class="absolute top-[55%] left-[8%] h-10 w-10 rotate-15" />
  <Icon name={ICONS[species].secondary} class="absolute top-[60%] left-[30%] h-8 w-12 rotate-[-8deg]" />
  <Icon name={ICONS[species].primary} class="absolute top-[52%] left-[55%] h-8 w-8 rotate-[-20deg]" />
  <Icon name={ICONS[species].secondary} class="absolute top-[58%] left-[72%] h-6 w-9 rotate-18" />
  <Icon name={ICONS[species].primary} class="absolute top-[50%] left-[90%] h-11 w-11 -rotate-12" />

  <Icon name={ICONS[species].secondary} class="absolute top-[78%] left-[3%] h-7 w-10 rotate-[-5deg]" />
  <Icon name={ICONS[species].primary} class="absolute top-[82%] left-[22%] h-8 w-8 rotate-22" />
  <Icon name={ICONS[species].secondary} class="absolute top-[85%] left-[45%] h-7 w-11 rotate-[-15deg]" />
  <Icon name={ICONS[species].primary} class="absolute top-[80%] left-[65%] h-9 w-9 rotate-[8deg]" />
  <Icon name={ICONS[species].secondary} class="absolute top-[88%] left-[85%] h-8 w-12 rotate-12" />
</div>
