---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/starwind/card";
import { TERMS_OF_SERVICE } from "@/constants";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
export const prerender = true;

const title = "Términos de Servicio";
const description = "Lee los términos de servicio de Kodal para entender las condiciones y políticas que rigen el uso de nuestra plataforma. Asegúrate de revisar esta información para conocer tus derechos y responsabilidades al utilizar nuestros servicios.";
---
<Layout class="max-w-4xl" title={title} description={description} container>
  <header class="mb-8 text-center">
    <Icon name="lucide:file-text" class="size-16 text-primary mx-auto mb-4"/>
    <h1 class="text-3xl font-bold text-foreground mb-2">Términos de Servicio</h1>
    <p class="text-muted-foreground">Última actualización: Febrero 2026</p>
  </header>

  <section class="space-y-6">
    {TERMS_OF_SERVICE.map(({ content, title, items}, index) => (
      <Card class="gap-2">
        <CardHeader>
          <CardTitle>{index + 1}. {title}</CardTitle>
        </CardHeader>
        <CardContent class="space-y-2">
          <p class="text-muted-foreground" set:html={content}/>
          {items && (
            <ul class="list-disc list-inside space-y-2 text-muted-foreground ml-1">
              {items.map((item) => (
                <li class="mb-0">{item}</li>
              ))}
            </ul>
          )}
        </CardContent>
      </Card>
    ))}
  </section>
</Layout>
