---
import { supabase } from "@/supabase/client";
import { Card, CardContent, CardHeader } from "@/components/starwind/card";
import type { Tables } from "@/interfaces";
import { age_format } from "@/utils";
import { Icon } from "astro-icon/components";
import Background from "@/components/Background.astro";

type Props = Pick<Tables<'pets'>, 'name' | 'breed' | 'birth_date' | 'avatar_path' | 'gender' | 'species'>;
const { avatar_path, gender, species, name, breed, birth_date } = Astro.props;
const avatar_url = avatar_path ? supabase.storage.from('medals').getPublicUrl(avatar_path).data.publicUrl : null;
const FIELDS = [
  { label: 'Raza', display: breed },
  { label: 'Edad', display: birth_date && age_format(new Date(birth_date)) }
];
---

<Card class="animate-fade-in-up">
  <CardHeader class="relative text-center p-8 pb-12 overflow-hidden">
    <Background
      gender={gender}
      species={species}
    />
      <figure
        class:list={[
          "relative size-36 overflow-hidden rounded-full ring-primary/20 ring-4 shadow-xl mx-auto mb-5",
          avatar_url ? "bg-secondary/20" : "bg-muted/70 text-muted-foreground"
        ]}
      >
        {
          avatar_url ? (
            <img
              src={avatar_url}
              alt={`Foto de ${name}`}
              class="aspect-square size-full object-cover"
            />
          ) : (
            <Icon name="lucide:image-off" class="size-16 m-10" />
          )
        }

      </figure>

      <h1 class="text-3xl font-bold text-foreground mb-1 text-balance">{name}</h1>
  </CardHeader>
  <CardContent class="sm:divide-x sm:divide-y-0 border-y divide-y flex flex-col sm:flex-row px-0">
    {FIELDS
      .filter(({ display }) => display)
      .map(({ label, display }) => (
        <div class="text-center py-4 grow">
        <div class="text-xl font-bold text-primary">{display}</div>
        <div class="text-sm text-muted-foreground">{label}</div>
      </div>
      ))
    }
  </CardContent>
</Card>
