---
import { Icon } from 'astro-icon/components';
import { Button, Card, Input, Select } from './ui';
import { MEDAL_RELATIONS, PET_ESPECIES, PET_GENDERS } from '@constants';
import { Avatar } from './common';
import type { Tables } from '@types';
interface Props {
  pet?: Tables<'pets'>;
  medal: Tables<'medals'>;
}
const { pet, medal } = Astro.props;
---

<input type="hidden" name="id" value={pet ? pet.id : crypto.randomUUID()} />
<input type="hidden" name="medal_id" value={medal.id} />

<Card>
  <h2 class="font-semibold">
    <Icon name="lucide:upload" class="mr-2 inline-block" />
    Foto de Perfil
  </h2>

  <article class="grid grid-cols-1 items-center justify-items-center gap-x-4 md:grid-cols-[auto_1fr] md:justify-items-normal">
    <Avatar id="pet-avatar" pet={pet} />

    <Input
      type="file"
      name="avatar_file"
      id="pet-avatar-file-input"
      label="Foto de perfil"
      placeholder="Selecciona una imagen"
      description="Sube una foto para el perfil de la mascota."
      accept="image/jpg, image/jpeg, image/png"
    />
  </article>
</Card>

<Card>
  <h2 class="font-semibold">
    <Icon name="lucide:info" class="mr-2 inline-block" />
    Información Básica
  </h2>

  <article class="grid grid-cols-1 space-y-2 space-x-2 md:grid-cols-2">
    <Input
      class:list={'md:col-span-2'}
      type="text"
      name="name"
      id="pet-name-input"
      label="Nombre"
      placeholder="Ej: Luna"
      description="Nombre visible en el perfil de la mascota."
      value={pet?.name}
      maxlength="25"
      required
    />

    <Select
      name="species"
      id="pet-species-select"
      label="Animal"
      description="Selecciona la especie para personalizar el perfil."
      value={pet?.species ?? 'OTHER'}
      items={PET_ESPECIES}
      required
    />

    <Input
      type="text"
      name="breed"
      id="pet-breed-input"
      label="Raza"
      placeholder="Ej: Labrador"
      description="Opcional. Ayuda a identificarla mejor."
      value={pet?.breed}
      maxlength="25"
    />

    <Select
      name="gender"
      id="pet-gender-select"
      label="Género"
      description="Indica el género de la mascota."
      value={pet?.gender ?? 'UNKNOWN'}
      items={PET_GENDERS}
      required
    />

    <Input
      type="date"
      name="birth_date"
      id="pet-birth-date-input"
      label="Fecha de nacimiento"
      description="Si no la conoces, deja el campo vacío."
      value={pet?.birth_date}
    />
  </article>
</Card>

<!-- Datos de contacto -->
<Card>
  <h2 class="font-semibold">
    <Icon name="lucide:phone" class="mr-2 inline-block" />
    Información de contacto
  </h2>

  <article class="grid space-y-2">
    <Select
      name="medal_relation_type"
      id="medal-relation_type-select"
      value={medal.relation_type ?? 'OTHER'}
      label="Relación con la mascota"
      description="Selecciona tu vínculo con la mascota para mostrarlo en el perfil."
      items={Object.entries(MEDAL_RELATIONS).map(([value, label]) => ({ value, label }))}
      required
    />

    <Input
      type="text"
      name="medal_full_name"
      id="medal-full_name-input"
      value={medal.full_name}
      label="Nombre completo"
      placeholder="Ej: Ana Pérez"
      description="Este nombre se mostrará en el perfil de la mascota."
      maxlength="50"
      required
    />

    <Input
      type="email"
      name="medal_email"
      id="medal-email-input"
      value={medal.email}
      label="Correo electrónico"
      placeholder="tu@email.com"
      description="Usaremos este email para verificar tu identidad."
      maxlength="100"
      required
    />

    <Input
      type="text"
      name="medal_phone"
      id="medal-phone-input"
      value={medal.phone}
      label="Teléfono"
      placeholder="+54 9 11 1234-5678"
      description="Incluye el código de país y área para asegurar que podamos contactarte."
      minlength="7"
      maxlength="20"
    />
  </article>
</Card>

<div class="flex gap-4">
  {
    pet && (
      <Button size="lg" variant="outline" href={`/medal/${medal.id}`} class="flex-1">
        Cancelar
      </Button>
    )
  }

  <Button size="lg" type="submit" class="flex-1">
    <Icon name="lucide:save" />
    Guardar
  </Button>
</div>

<script>
  const input = document.getElementById('pet-avatar-file-input') as HTMLInputElement;
  const avatar = document.getElementById('pet-avatar') as HTMLDivElement;
  const avatarImg = avatar.querySelector('img') as HTMLImageElement;

  input?.addEventListener('change', (event) => {
    const file = (event.target as HTMLInputElement).files?.[0] as File;
    avatarImg.src = file ? URL.createObjectURL(file) : '';
    avatar.setAttribute('data-has-image', file ? 'true' : 'false');
  });
</script>
