---
import { Icon } from 'astro-icon/components';
import type { Pagination } from '@types';
import { Button } from '@components/ui';
import type { HTMLAttributes } from 'astro/types';
interface Props extends HTMLAttributes<'article'> {
  origin: string;
  pagination: Pagination;
}

const { pagination, origin, class: className, ...props } = Astro.props;
const isFirst = pagination.currentPage === 1;
const isLast = pagination.currentPage === pagination.lastPage;
const prevPage = Math.max(1, pagination.currentPage - 1);
const nextPage = Math.min(pagination.lastPage, pagination.currentPage + 1);
---

<article class:list={['flex items-center justify-between', className]} {...props}>
  <span class="text-md">Página: {pagination.currentPage}/{pagination.lastPage}</span>
  <div class="flex gap-1">
    <Button variant="outline" href={`${origin}/1`} disabled={isFirst}>
      <Icon name="lucide:chevrons-left" />
    </Button>
    <Button variant="outline" href={`${origin}/${prevPage}`} disabled={isFirst}>
      <Icon name="lucide:chevron-left" />
    </Button>
    <Button variant="outline" href={`${origin}/${nextPage}`} disabled={isLast}>
      <Icon name="lucide:chevron-right" />
    </Button>
    <Button variant="outline" href={`${origin}/${pagination.lastPage}`} disabled={isLast}>
      <Icon name="lucide:chevrons-right" />
    </Button>
  </div>
</article>
