---
import { FormPetAvatar, FormPetBasic, FormPetContact } from '@components/forms';
import { Button } from '@components/ui';
import Layout from '@layout';
import { Icon } from 'astro-icon/components';
import { actions } from 'astro:actions';

if (!Astro.params.medal_id) return Astro.rewrite('/404');

const result = Astro.getActionResult(actions.insertPetForm);
// if (result) return Astro.redirect(`/medal/${Astro.params.medal_id}`);
if (result) {
  if (result.error) console.log(result.error);
  return Astro.redirect(`/medal/${Astro.params.medal_id}`);
}

const response = await Astro.callAction(actions.getMedal, { medal_id: Astro.params.medal_id });
const { medal, pet } = response.data ?? {};
if (response.error || !medal) return Astro.rewrite('/404');
if (pet) return Astro.redirect(`/medal/${Astro.params.medal_id}`);
---

<Layout class="max-w-2xl" title="Kodal - Nueva medalla">
  <hgroup class="mb-6 flex flex-col gap-2">
    <h1 class="text-3xl font-bold">Crear información de tu mascota</h1>
    <p class="text-on-muted">Completa los datos de tu mascota para crear su perfil.</p>
  </hgroup>

  <form class="flex flex-col gap-6" action={actions.insertPetForm} method="POST" enctype="multipart/form-data">
    <input type="hidden" name="medal_id" value={medal.id} />

    <FormPetAvatar />
    <FormPetBasic pet={pet} />
    <FormPetContact medal={medal} />

    <div class="flex gap-4">
      <Button size="lg" type="submit" class="flex-1">
        <Icon name="lucide:save" />
        Crear
      </Button>
    </div>
  </form>
</Layout>
