---
import { Form } from '@components';
import Layout from '@layout';
import { actions, isInputError } from 'astro:actions';

if (!Astro.params.medal_id) return Astro.rewrite('/404');

const result = Astro.getActionResult(actions.insertPetForm);
const inputErrors = isInputError(result?.error) ? result.error.fields : {};
if (result?.data?.success) return Astro.redirect(`/medal/${Astro.params.medal_id}`);
if (result?.error && !inputErrors) return Astro.rewrite('/404');

const response = await Astro.callAction(actions.getMedalPet, { medal_id: Astro.params.medal_id });
if (!response.data?.medal || response.error) return Astro.rewrite('/404');
const {
  medal: { pets: pet, ...medal },
} = response.data;

if (pet) return Astro.redirect(`/medal/${Astro.params.medal_id}`);
---

<Layout class="max-w-2xl" title="Kodal - Nueva medalla">
  <hgroup class="mb-6 flex flex-col gap-2">
    <h1 class="text-3xl font-bold">Crear información de tu mascota</h1>
    <p class="text-on-muted">Completa los datos de tu mascota para crear su perfil.</p>
  </hgroup>

  <form class="flex flex-col gap-6" action={actions.insertPetForm} method="POST" enctype="multipart/form-data">
    <Form medal={medal} errors={inputErrors} />
  </form>
</Layout>
