---
import { FormPetBasic, FormPetContact, FormPetAvatar } from '@components/forms';
import { Button } from '@components/ui';
import Layout from '@layout';
import { Icon } from 'astro-icon/components';
import { actions } from 'astro:actions';

const token_code = Astro.url.searchParams.get('token');
if (!Astro.params.medal_id) return Astro.rewrite('/404');

const result = Astro.getActionResult(actions.updatePetForm);
if (result) return Astro.redirect(`/medal/${Astro.params.medal_id}`);

const response = await Astro.callAction(actions.getMedal, { medal_id: Astro.params.medal_id });
const { medal, pet, token } = response.data ?? {};
if (response.error || !medal || !pet) return Astro.rewrite('/404');
if ((!token || token.code !== token_code) && !import.meta.env.DISABLE_TOKEN) {
  return Astro.redirect(`/medal/${Astro.params.medal_id}`);
}
---

<Layout class="max-w-2xl" title={`Kodal - medalla de ${pet.name} - Editar información`}>
  <hgroup class="mb-6 flex flex-col gap-2">
    <h1 class="text-3xl font-bold">
      Editar información de <span class="text-primary">{pet.name}</span>
    </h1>
    <p class="text-on-muted">Actualiza los datos de tu mascota para mantener su perfil al día.</p>
  </hgroup>

  <form class="flex flex-col gap-6" action={actions.updatePetForm} method="POST" enctype="multipart/form-data">
    <input type="hidden" name="token_code" value={import.meta.env.DISABLE_TOKEN ? crypto.randomUUID() : token_code} />

    <FormPetAvatar pet={pet} />
    <FormPetBasic pet={pet} />
    <FormPetContact medal={medal} />

    <div class="flex gap-4">
      <Button size="lg" variant="outline" href={`/medal/${medal?.id}`} class="flex-1"> Cancelar </Button>

      <Button size="lg" type="submit" class="flex-1">
        <Icon name="lucide:save" />
        Guardar
      </Button>
    </div>
  </form>
</Layout>
