---
import { Form } from '@components';
import Layout from '@layout';
import { actions, isInputError } from 'astro:actions';

const token_code = Astro.url.searchParams.get('token');
if (!Astro.params.medal_id) return Astro.rewrite('/404');

const result = Astro.getActionResult(actions.updatePetForm);
const inputErrors = isInputError(result?.error) ? result.error.fields : {};
if (result?.data?.success) return Astro.redirect(`/medal/${Astro.params.medal_id}`);
if (result?.error && !inputErrors) return Astro.rewrite('/404');

const response = await Astro.callAction(actions.getMedalPet, { medal_id: Astro.params.medal_id, withToken: true });
if (!response.data?.medal?.pets || response.error) return Astro.rewrite('/404');
const {
  medal: { pets: pet, ...medal },
  token,
} = response.data;

if ((!token || token.code !== token_code) && !import.meta.env.DISABLE_TOKEN) {
  return Astro.redirect(`/medal/${Astro.params.medal_id}`);
}

const token_code_value = import.meta.env.DISABLE_TOKEN ? crypto.randomUUID() : token_code;
---

<Layout class="max-w-2xl" title={`Kodal - medalla de ${pet.name} - Editar información`}>
  <hgroup class="mb-6 flex flex-col gap-2">
    <h1 class="text-3xl font-bold">
      Editar información de <span class="text-primary">{pet.name}</span>
    </h1>
    <p class="text-on-muted">Actualiza los datos de tu mascota para mantener su perfil al día.</p>
  </hgroup>

  <form class="flex flex-col gap-6" action={actions.updatePetForm} method="POST" enctype="multipart/form-data">
    <input type="hidden" name="token_code" value={token_code_value} />
    <Form pet={pet} medal={medal} errors={inputErrors} />
  </form>
</Layout>
