---
import { CardPetBasic, CardPetContact, CardPromotion } from '@components/cards';
import { DialogIdentityVerification } from '@components/dialogs';
import { Button } from '@components/ui';
import Layout from '@layout';
import { Icon } from 'astro-icon/components';
import { actions } from 'astro:actions';

if (!Astro.params.medal_id) return Astro.rewrite('/404');

const result = Astro.getActionResult(actions.sendTokenEmail);
if (result) return Astro.redirect(`/medal/${Astro.params.medal_id}/email-sent`);

const response = await Astro.callAction(actions.getMedal, { medal_id: Astro.params.medal_id });
const { medal, pet } = response.data ?? {};

if (!medal) return Astro.rewrite('/404');
if (!pet) return Astro.redirect(`/medal/${medal.id}/create`);
---

<Layout class="max-w-2xl" title={`Kodal - medalla de ${pet.name}`}>
  <article slot="actions">
    {
      import.meta.env.DISABLE_TOKEN ? (
        <Button href={`/medal/${Astro.params.medal_id}/edit`} size="xs">
          <Icon name="lucide:edit" />
          Editar
        </Button>
      ) : (
        <DialogIdentityVerification pet={pet} medal={medal} />
      )
    }
  </article>

  <CardPetBasic pet={pet} />
  <CardPetContact medal={medal} />
  <CardPromotion />
</Layout>
