---
import type { Tables } from '@types';
import { Icon } from 'astro-icon/components';
import { Button, Dialog } from '@components/ui';
import { actions } from 'astro:actions';
import { Avatar } from '@components/common';

interface Props {
  pet: Tables<'pets'>;
  medal: Tables<'medals'>;
}
const { pet, medal } = Astro.props;
---

<Button id={`dialog-identity-verification-${pet.id}-btn`} transition:persist size="xs">
  <Icon name="lucide:edit" />
  Editar
</Button>

<Dialog
  title="Verificación de Identidad"
  description="Para proteger la información de tu mascota, necesitamos verificar tu identidad."
  id={`dialog-identity-verification-${pet.id}`}
  closedby="any"
  transition:persist
>
  <form
    id={`dialog-identity-verification-${pet.id}-form`}
    action={actions.sendTokenEmail}
    method="POST"
    class="bg-muted/40 rounded-xl border p-4"
  >
    <input type="hidden" name="medal_id" value={medal.id} />

    <div class="flex items-center gap-3">
      <Avatar pet={pet} class="size-12!" />
      <div class="flex flex-col">
        <span class="text-on-background text-sm font-semibold">{pet.name}</span>
        <span class="text-on-muted text-sm">{pet.breed}</span>
      </div>
    </div>

    <p class="text-on-muted mt-4 text-sm">Enviaremos un código de verificación al email registrado:</p>
    <p class="text-on-background mt-1 text-sm font-semibold">{medal.email}</p>
  </form>

  <p class="text-on-muted text-sm">El código expirará en 15 minutos.</p>

  <div class="flex flex-col-reverse gap-2 sm:flex-row sm:justify-end" slot="footer">
    <Button variant="outline" data-dialog-close>Cancelar</Button>
    <Button type="submit" form={`dialog-identity-verification-${pet.id}-form`}>
      <Icon name="lucide:mail" class="size-4" />
      Enviar Código
    </Button>
  </div>
</Dialog>
