---
import { Button, Dialog, Link } from '@components/ui';
import type { Database } from '@lib/database';
import { Icon } from 'astro-icon/components';

interface Props {
  medal: Database['public']['Tables']['medals']['Row'];
  QRbase64: string;
}
const { medal, QRbase64 } = Astro.props;
---

<Button id={`dialog-view-${medal.id}-btn`} variant="ghost" size="sm">
  <Icon name="lucide:eye" />
</Button>

<Dialog title="Código QR" id={`dialog-view-${medal.id}`} closedby="any">
  <figure class="relative mx-auto flex w-48 flex-col items-center justify-center gap-2 text-center">
    <div class="border-primary rounded-lg border-4 bg-white">
      <img src={QRbase64} alt={`Código QR - ${medal.id}`} loading="lazy" decoding="async" />
    </div>

    <figcaption class="w-full truncate text-sm font-medium">
      <Link href={new URL(`/medal/${medal.id}`, Astro.url)} target="_blank">
        {new URL(`/medal/${medal.id}`, Astro.url)}
      </Link>
    </figcaption>
  </figure>

  <Button size="lg" href={QRbase64} download={`${medal.id}.png`}>
    <Icon name="lucide:download" />
    Descargar QR
  </Button>
</Dialog>
