---
import type { HTMLAttributes } from 'astro/types';

type BaseProps = {
  size?: 'xs' | 'sm' | 'base' | 'lg';
  variant?: 'solid' | 'outline' | 'ghost';
  disabled?: boolean;
};

type Props =
  | (BaseProps & { href: string } & HTMLAttributes<'a'>)
  | (BaseProps & { href?: undefined } & HTMLAttributes<'button'>);

const {
  size = 'base',
  variant = 'solid',
  disabled,
  class: className,
  ...props
} = Astro.props as Props;

const { type = 'button', ...buttonProps } = props as HTMLAttributes<'button'>;
const { href, target, ...anchorProps } = props as HTMLAttributes<'a'>;

const SIZE_CLASSES = {
  xs: 'px-2 py-1 text-sm [>svg]:size-3',
  sm: 'px-3 py-1.5 text-sm [>svg]:size-3',
  base: 'px-4 py-2 text-base [>svg]:size-4',
  lg: 'px-6 py-3 text-lg [>svg]:size-5',
};
const VARIANT_CLASSES = {
  solid: 'bg-primary text-on-primary hover:bg-primary/90',
  outline: 'border border-primary text-primary hover:bg-primary/10',
  ghost: 'text-primary hover:bg-primary/10',
};

const classes = [
  'cursor-pointer rounded-md transitions-colors inline-flex items-center justify-center gap-1',
  'focus:ring-ring focus:ring-1 focus:outline-none aria-disabled:pointer-events-none aria-disabled:opacity-50',
  SIZE_CLASSES[size],
  VARIANT_CLASSES[variant],
  className,
];
---

{
  href ? (
    <a
      href={href}
      rel={target === '_blank' && anchorProps.rel ? 'noopener noreferrer' : anchorProps.rel}
      target={target}
      aria-disabled={disabled}
      class:list={[classes]}
      {...anchorProps}
    >
      <slot />
    </a>
  ) : (
    <button
      type={type}
      class:list={[classes]}
      aria-disabled={disabled}
      disabled={disabled}
      {...buttonProps}
    >
      <slot />
    </button>
  )
}
