---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';
import Button from './Button.astro';

interface Props extends HTMLAttributes<'dialog'> {
  title?: string | null;
  description?: string | null;
  showClose?: boolean;
  id?: string | null;
}

const { title, description, showClose = true, id, class: className, ...props } = Astro.props;
const classes = [
  'bg-background text-on-background w-full max-w-[calc(100%-2rem)] sm:max-w-lg',
  'fixed top-1/2 left-1/2 z-50 -translate-x-1/2 -translate-y-1/2',
  'open:grid gap-4 rounded-lg border p-6 shadow-lg',
  '[&>header]:flex [&>header]:flex-col [&>header]:gap-2',
  '[&>header>h2]:text-lg [&>header>h2]:font-semibold [&>header>h2]:leading-none',
  '[&>header>p]:text-on-muted [&>header>p]:text-sm',
  '[&>section]:flex [&>section]:flex-col [&>section]:gap-4 [&>section]:py-4',
  className,
];
---

<slot name="button" />

<dialog id={id} class:list={classes} {...props}>
  {
    showClose && (
      <Button variant="outline" size="xs" class="absolute top-4 right-4" data-dialog-close>
        <Icon name="lucide:x" class="size-4" />
      </Button>
    )
  }

  {
    (title || description || Astro.slots.header) && (
      <header class="dialog-header text-left">
        {title && <h2 class="dialog-title">{title}</h2>}
        {description && <p class="dialog-description">{description}</p>}
        <slot name="header" />
      </header>
    )
  }

  <section class="dialog-content">
    <slot />
  </section>

  {
    Astro.slots.footer && (
      <footer class="dialog-content pt-0">
        <slot name="footer" />
      </footer>
    )
  }
</dialog>

<script define:vars={{ id }}>
  const dialog = id ? document.getElementById(id) : null;
  const openBtn = id ? document.getElementById(`${id}-btn`) : null;
  const closeBtns = dialog?.querySelectorAll('[data-dialog-close]');

  openBtn?.addEventListener('click', () => {
    dialog?.showModal();
  });

  closeBtns?.forEach((btn) => {
    btn.addEventListener('click', () => {
      dialog?.close();
    });
  });
</script>
