---
import type { HTMLAttributes } from 'astro/types';
import Fieldset from './Fieldset.astro';

interface Props extends HTMLAttributes<'select'> {
  label?: string;
  description?: string;
  items?: Array<{ value: string; label: string }>;
  error?: string;
}

const { id, label, description, items, error, class: className, ...props } = Astro.props;
---

<Fieldset input={id?.toString()} required={Boolean(props.required)} description={description} label={label} error={error} class={className}>
  <select
    id={id}
    class="focus:ring-ring h-10 rounded-lg border border-border bg-black/5 p-1 text-sm focus:ring-2 focus:outline-none"
    transition:persist
    {...props}
  >
    {
      items?.map(({ value, label }) => (
        <option value={value} selected={props.value === value}>
          {label}
        </option>
      ))
    }
  </select>
  <slot />
</Fieldset>
