---
import { Input } from '@components/ui';
import { toInputDateValue } from '@utils';
import type { Database } from '@lib/database';

interface Props {
  pet?: Database['public']['Tables']['pets']['Row'];
}

const ESPECIES = [
  { value: 'DOG', label: 'Perro' },
  { value: 'CAT', label: 'Gato' },
  { value: 'OTHER', label: 'Otro' },
];

const GENDERS = [
  { value: 'MALE', label: 'Macho' },
  { value: 'FEMALE', label: 'Hembra' },
  { value: 'UNKNOWN', label: 'No especificado' },
];

const { pet } = Astro.props;
---

<article class="card">
  <header class="card-header">
    <h4 class="card-title">Información Básica</h4>
  </header>
  <div class="card-content">
    <div
      class="grid grid-cols-1 gap-4 md:grid-cols-2 [&>article]:flex [&>article]:flex-col [&>article]:gap-2"
    >
      <Input
        type="text"
        name="name"
        class="md:col-span-2"
        aria-label="Nombre"
        value={pet?.name}
        maxlength="25"
        required
      />

      <fieldset class="flex flex-col gap-2">
        <label for="species" class="text-sm">Animal<span class="text-primary">*</span></label>
        <select name="species" required>
          {
            ESPECIES.map(({ value, label }) => (
              <option value={value} selected={(pet?.species ?? 'OTHER') === value}>
                {label}
              </option>
            ))
          }
        </select>
      </fieldset>

      <Input type="text" name="breed" aria-label="Raza" value={pet?.breed} maxlength="25" />

      <fieldset class="flex flex-col gap-2">
        <label for="gender" class="text-sm">Género<span class="text-primary">*</span></label>
        <select name="gender" required>
          {
            GENDERS.map(({ value, label }) => (
              <option value={value} selected={(pet?.gender ?? 'UNKNOWN') === value}>
                {label}
              </option>
            ))
          }
        </select>
      </fieldset>

      <Input
        type="date"
        name="birth_date"
        aria-label="Fecha de nacimiento"
        value={pet?.birth_date && toInputDateValue(pet.birth_date)}
        max={toInputDateValue(new Date())}
      />
    </div>
  </div>
</article>
